#terminal {
	display: none;
	position: fixed;
	height: 200px;
	min-height: 75px;
	width: 100%;
	overflow: auto;
	background: black;
	color: white;
	font-family: monospace;
	padding: 10px;
	padding-bottom: 0;
	box-sizing: border-box;
}

#terminal.open {
	display: flex;
	flex-direction: column;
}

.terminal-line {
	display: flex;
	width: 100%;
	border-top: 1px dotted white;
}

.terminal span {
	width: 1px;
}

#terminal-input {
	width: 100%;
	border: none;
	background: black;
	color: white;
	outline: none;
	margin-top: auto;
}

#terminal-history {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	color: #51ff51;
}
